name: preprocessing-workflow

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn

    - name: Run preprocessing
      run: |
        python preprocessing/automate_aren.py

    - name: Upload preprocessed dataset
      uses: actions/upload-artifact@v4
      with:
        name: spotify_preprocessed
        path: |
          spotify_preprocessed_train.csv
          spotify_preprocessed_test.csv